#ruby, #python, #go, #nope {
  display: none;
}

.btn {
  display: block;
}

body {
  background-color: skyblue; 
  font-weight: bolder;
  border: 30px double black;
  /* border-right: 30px double black;
  border-left: 30px double black; */
  padding-left: -50px;
  margin: 20px;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  font-style: italic;
  text-align: center;  
}